# the generated data
datasets/*
!datasets/cs1_us_outlets.csv
!datasets/cs1_us_outlets.parquet.gzip
!datasets/embeddings.npy
# results
results/*
!results/models/
!results/outputs_layers/
!results/predictions/
# cache
data_processing/__pycache__
models/__pycache__
.vscode/*
