# the generated data
datasets/*
!datasets/cs1_us_outlets.csv
!datasets/cs1_us_outlets.parquet.gzip
# results
results/models/last_trained_model.h5
results/*
!results/models/*
# cache
data_processing/__pycache__
models/__pycache__
